@keyframes Opacity0to1 {
  0%{
    opacity: 0;
  }
  100%{
   opacity: 1;
  }
}
@keyframes BottomToTop20to0Opacity {
  0%{
    opacity: 0;
    top: 50px;
  }
  100%{
    opacity: 1;
    top: 0;
  }
}
@keyframes SignIntoSignup{
  0%{
    opacity: 1;
    left: 0;
  }
  100%{
    opacity: 0;
    left: -100px;
  }
}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}