@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Roboto', sans-serif;

@import "layout/menu";
@import "layout/LoginUserInfo";

@import "components/TopContet";

@import "components/shape/RoundCardBox";
@import "components/shape/CountText";

html, body{
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

ul,ol,li{
  list-style: none;
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #333;
}

.defaultWarp{
  overflow-y: scroll;
}

.defaultWarp{
  height: calc(100vh - 80px);
  padding-top: 80px;
  width: 100%;
}