.authInput{
  position: relative;
  top: 120px;
  >input{
    padding: 10px;
    width: calc(100% - 90px);
    transition: .5s;
    font-weight: lighter;
    font-size: 12pt;
    @media screen and (max-width: 500px) {
      font-size: 9pt;
    }
    &:not([type="submit"]){
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.1);
      margin: 5px 25px;
      &:focus{
        outline: none;
        border-bottom: 1px solid rgba(0,0,0,1);
      }
    }
    &[type="submit"]{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      outline: none;
      border: none;
      background: #536efe;
      color: white;
      font-weight: bold;
      margin: 20px 0;
      box-shadow: 0 5px 5px rgba(110,110,110,.5);
      &:hover{
        transform:translateX(-50%) scale(1.05);
        box-shadow: 0 8px 8px rgba(110,110,110,.5);
      }
    }
  }
}