.mainWrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1024px;
  margin: 0 auto;
  >div{
    flex: 1;
    min-width: 512px;
    max-width: 512px;
  }
  .welcome{
    font-weight: lighter;
    font-size: 20pt;
    text-align: center;
  }
}
