nav{
  background-color: white;
}

@media screen and (min-width: 769px) {
  nav{
    position: relative;
    z-index: 99;
    width: 100px;
    height: 100vh;
    float: left;
    >a{
      img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    >.menuBtn{
      display: none;
    }
  }
  .DefaultSideMenu{
    margin-top: 100px;
    >li{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      margin-bottom: 50px;
      >p{
        display: none;
      }
      >div{
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-color: white;
        >svg{
          width: 30px;
          height: 30px;
          padding: 10px;
          margin: 25px 0 0 25px;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 0 10px rgba(100,100,100,.5);
        }
      }
      ul{
        position: absolute;
        top: 25px;
        left: -100px;
        z-index: -10;
        transition: .5s;
        opacity: 0;
        >li{
          float: left;
          width: 120px;
          padding-left: 10px;
        }
      }

      &:hover{
        ul{
          position: absolute;
          top: 25px;
          z-index: -10;
          transition: .5s;
          left: 100px;
          opacity: 1;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  nav{
    width: 100vw;
    position: fixed;
    overflow: hidden;
    transition: .5s;
    >.menuBtn{
      position: absolute;
      top: 30px;
      right: 20px;
      transform: rotate(180deg);
      >div{
        height: 2px;
        background-color: #333333;
        transition: .5s;
        &:not(:first-child){
          margin-top: 3px;
        }
      }
    }
    >a{
      margin-left: 20px;
    }
    ul.DefaultSideMenu{
      position: relative;
      left: 20px;
      >li{
        padding:10px;
        >div{
          display: inline;
          float: left;
        }
        >p{
          font-weight: normal;
          font-size: 15pt;
          padding-left: 50px;
        }
        float: left;
        >ul{
          width: 100vw;
          >li{
            margin-left: 50px;
            font-weight: lighter;
          }
        }
      }
    }
  }
}