nav{
  background-color: white;
  width: 100vw;
  position: fixed;
  //top: 100px;
  z-index: 9999999;
  transition: .5s;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  overflow: hidden;
  float: left;
}

@media screen and (min-width: 801px) {
nav{
  height: 80px;
  > a{
    margin-left: 20px;
  }
  > ul{
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    >li{
      min-width: 100px;
      max-width: 100px;
      flex: 1;
      >div{display: none;}
      >p{
        position: relative;
        z-index: 999;
        font-weight: bold;
        font-size: 11pt;
        background-color: white;
        text-align: center;
        line-height: 80px;
        a{
          &::after{
            position: absolute;
            bottom: 0;
            right: 50%;
            transform:translateX(50%);
            content: "";
            width: 20px;
            height: 5px;
            background-color: #333333;
            opacity: 0;
            transition: .5s;
          }
          &.active{
            &::after{
              opacity: 1;
            }
          }
        }
      }
      ul{
        position: absolute;
        z-index: -1;
        transition: .5s;
        transform: translateX(-50%);
        height: 150px;
        width: 100vw;
        display: none;
        li{
          display: inline;
          float: left;
          padding: 20px;
          font-weight: bold;
          font-size: 20pt;
          line-height:50px;
          &:first-child{
            margin-left: 50px;
          }
          >a{
            color: #888;
            transition: .5s;
          }
          >a:hover{
            color: #222;
          }
        }
      }
      &:hover{
        p > a::before{opacity: 1}
        >ul{
          display: block;
        }
      }
    }
  }
}
nav > ul > li:nth-child(1) > ul{left: 200px;}
nav > ul > li:nth-child(2) > ul{left: 200px;}
nav > ul > li:nth-child(4) > ul{left: 200px;}
}
@media screen and (max-width: 800px) {
  nav{
    overflow: hidden;
    >.menuBtn{
      position: absolute;
      top: 30px;
      right: 20px;
      transform: rotate(180deg);
      >div{
        height: 2px;
        background-color: #333333;
        transition: .5s;
        &:not(:first-child){
          margin-top: 3px;
        }
      }
    }
    >a{
      margin-left: 20px;
    }
    ul.DefaultSideMenu{
      position: relative;
      top: 50px;
      left: 20px;
      >li{
        padding:10px;
        >div{
          display: inline;
          float: left;
        }
        >p{
          font-weight: normal;
          font-size: 15pt;
          padding-left: 50px;
        }
        float: left;
        >ul{
          width: 100vw;
          >li{
            margin-left: 50px;
            font-weight: lighter;
          }
        }
      }
    }
  }
}

